html {
    height: 100%;
}

body {
    /* width: 60%; */
    height: 100%;
    margin: 0 auto;
    background-color: #071721;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body>* {
    padding: 0 20%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8eacf;
    flex: 0 0 50px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex: 1.3 0 400px;
}

.hero-section .left-section {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    gap: 16px;
    align-items: flex-start;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f8eacf;
}

.hero-description {
    font-size: 18px;
    color: #f8eacf;
}

.img-placeholder {
    height: 200px;
    width: 400px;
    background-color: gray;
}

.btn-submit {
    background-color: #c07e53;
    color: #f8eacf;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-section .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-section {
    display: flex;
    flex-direction: column;
    background-color: #30455c;
    justify-content: space-evenly;
    flex: 1.2 0 400px;
    padding: 20px;
}

.information-header {
    font-size: 36px;
    color: #071721;
    font-weight: 900;
    text-align: center;
    padding: 10px 0 30px 0;
}

.information-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 3px solid #c07e53;
    border-radius: 16px;
    margin-bottom: 8px;
    
}

.card-img > img{
    width: inherit;
}

.card {
    text-align: center;
    flex-basis: 150px;
}
.card-text{
    color: #f8eacf;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8eacf;
    flex: 1.1 0 400px;
}

.quote-section>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.quote {
    font-size: 36px;
    color: #30455c;
    font-weight: 300;
}

.quote-author {
    margin-left: auto;
    font-size: 28px;
    font-weight: 900;
    color: #071721;
}

.sign-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30455c;
    flex: 1 0 300px;
}

.sign-modal {
    display: flex;
    width: 100%;
    height: 75px;
    padding: 30px 60px;
    background-color: #c07e53;
    color: #30455c;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.sign-section .header {
    font-size: 24px;
    font-weight: 900;
}

.btn-sign-up {
    background-color: transparent;
    color: #30455c;
    font-size: 20px;
    border: 3px solid #30455c;
    padding: 8px 32px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8eacf;

    flex: 0 0 75px;
}
a {
    text-decoration: none;
}